@import '../mixins.scss';
@import '../variables.scss';

.work-orders-container {
    background-color: $basic-background-color;
    width: 100% !important;
    padding-bottom: 5vh;
}
.content-section {
    margin-top: 20px;    
}
@media only screen and (max-width: 1440px) {
    .work-orders-container {
        display: block !important;
    }
}

.photo-viewer-container {
    height: 100% !important;
    width: 100% !important;
    img {
        height: 100% !important;
        width: auto !important;
    }
}